.toolbar {
  justify-content: center;
  background: var(--gray-color);
  height: 5rem;
  gap: 5rem;
}

.icon-button {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 10rem;
  color: var(--black-color);
  background-color: transparent;
  border: 0.0625rem solid var(--green-color);
  cursor: pointer;

  &:hover:not(.active) {
    border-color: var(--light-green-color);
  }

  &.active {
    background-color: var(--green-color);
  }

  &.mat-icon-button {
    border-radius: 0;
    line-height: normal;
  }
}
