/** Color schema **/
$gray: #677c77;
$green: #445f3b;
$light-green: #8ea076;
$black: #000000;
$dark-blue: #2c2f3c;
$ice-blue: #e0efea;
$dark-red: #a52a2a;

/** Common schema **/
$content-height: calc(100vh - 7rem);
