@import '_styles';

:host {
  position: relative;
}

.photo {
  width: 7.5rem;
  height: 15rem;
  background-size: cover;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.icon-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
}

.icon-button:hover,
.icon-button.active {
  color: $dark-red;
}
