@import '_styles';

:host {
  position: relative;
}

.photo {
  width: 7.5rem;
  height: 15rem;
  background-size: cover;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  pointer-events: none;

  &.active {
    color: $dark-red;
  }
}
